.ui-tooltip {
    --ui-popover-bg-color: var(--ui-bg-color-overlay);
    --ui-popover-font-size: var(--ui-font-size-base);
    --ui-popover-border-color: var(--ui-border-color-lighter);
    --ui-popover-padding:12px;
    --ui-popover-border-radius: 4px;
    display: inline-block;
}


.ui-tooltip {
    .ui-tooltip__popper{
        background: var(--ui-popover-bg-color);
        border-radius: var(--ui-popover-border-radius);
        border: 1px solid var(--ui-popover-border-color);
        padding: var(--ui-popover-padding);
        color: var(--ui-text-color-regular);
        line-height: 1.4;
        text-align: justify;
        font-size: var(--ui-popover-font-size);
        box-shadow: var(--ui-box-shadow-light);
        word-break: break-all;
        box-sizing: border-box;
        z-index: 1000;
        #arrow,
        #arrow::before {
            position: absolute;
            width: 8px;
            height: 8px;
            box-sizing: border-box;
            background-color: var(--ui-popover-bg-color);
        }
        #arrow {
            visibility: hidden;
        }
        #arrow::before {
           visibility: visible;
           content: "";
           transform: rotate(45deg); 
        }
        &[data-popper-placement^='top'] > #arrow {
            bottom: -5px;
        }
        &[data-popper-placement^='bottom'] > #arrow {
            top: -5px;
        }
        &[data-popper-placement^='left'] > #arrow {
            right: -5px;
        }
        &[data-popper-placement^='right'] > #arrow {
            left: -5px;
        }
        &[data-popper-placement^='top'] > #arrow::before {
            border-right: 1px solid var(--ui-popover-border-color);
            border-bottom: 1px solid var(--ui-popover-border-color);
        }
        &[data-popper-placement^='bottom'] > #arrow::before {
            border-left: 1px solid var(--ui-popover-border-color);
            border-top: 1px solid var(--ui-popover-border-color);
        }
        &[data-popper-placement^='left'] > #arrow::before {
            border-right: 1px solid var(--ui-popover-border-color);
            border-top: 1px solid var(--ui-popover-border-color);
        }
        &[data-popper-placement^='right'] > #arrow::before {
            border-left: 1px solid var(--ui-popover-border-color);
            border-bottom: 1px solid var(--ui-popover-border-color);
        }
    }
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity var(--ui-transition-duration);
    }

    .fade-enter,
    .fade-leave-to {
    }
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity var(--ui-transition-duration);
    }

    .fade-enter,
    .fade-leave-to {
        opacity: 0;
    }
}